* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 3px solid red; */
}

body {
    font-family: "Fira Sans", sans-serif;
    background-color: #e2d6d6;
    color: black;
    zoom: 120%; 
}

.query-header {
    background-color: pink;
    padding-top: 5px;
    border-bottom: solid black;
    text-align: center;
}

.query-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.query-nav p {
    margin-top: 15px;
}

.query-type {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.query-type li {
    list-style-type: none;
}

.bigcontainer {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px; 
}
.playerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userInput {
    font-family: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    text-align: center;
    width: 300px;
    border: 3px solid #ccc;
    outline: none;
    transition-duration: 0.5s;
}

.userInput:focus {
    border: 3px solid #555;
}

.userInput:focus::placeholder {
    color: transparent;
}

.unlockedBtn, .lockedBtn {
    display: block;
    width: 200px;
    font-family: inherit;
    transition-duration: 0.4s;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.lockedBtn {
    background-color: grey;
}

.lockedBtn:hover {
    cursor: "not-allowed";
    pointer-events: none;     
}

.unlockedBtn:hover {
    cursor: pointer;
    color: black;
    background-color: #c75287c5;
}

.statusText {
    margin-top: 7px;
}

.card {
    margin-top: 10px;
}

.cardContainer {
    padding: 5px;
	display: flex;
	flex-direction: column;
	border: 2px solid rgba(0, 102, 255, 0.13);
	width: 500px;
	gap: 10px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.container1 {
	display: flex;
    justify-content: space-around;    
}

.canvasContainer {
    width: 120px;
    height: 120px;
}
.container1 img {
    width: 130px;
    height: 130px;
    border-radius: 40px;
    border-style: inset;
    border-width: 4px;
}

.innerContainer1 {
	display: flex;
	flex-direction: column;
	gap: 5px;
    padding-left: 20px;
}

.container2, .container3 {
	display: flex;
	justify-content: space-between;
    padding-left: 7px;
    padding-right: 7px;
}

.cardContainer:hover {
    background-color: #f3e6f1; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); 
    transform: scale(1.05); 
}

a {
    color: #3399ff; 
    transition: color 0.2s ease; 
    text-decoration: none;
}
  
a:visited { 
    text-decoration: none;
    color: #3399ff;
}
  
a:hover {
    color: #0033cc; 
    cursor: pointer;
}

.plays {
    margin-top: 13px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.headerContainer {
    display: flex;
    justify-content: center;
}

th {
    border-bottom: 1px solid black;
    padding: 8px;
}

td {
    border-bottom: 1px solid black;
    padding: 8px;
    height: 20px;
}

tr {
	text-align: center
}

tr.header th {
    background-color: #f2f2f2;
    text-align: center;
}

.bestPlay td {
    font-weight: bolder;
}

.playsHeader {
    font-size: 24px;
    margin-bottom: 2px;
}

.beatmap-form {
    width: 200px;
}


/* CSS for loader taken (modified) from w3schools */
.loadingDiv {
    margin-top: 50px;
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #ba34db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  



